/*GENERAL*/

*{
  margin: 0;
  padding: 0;
}
body{
  background-image:url(/images/Dark\ Smoke\ Overlays\ -\ 2.jpg);
  }

/*navbar*/

.navbar-brand{
  font-family: 'Quicksand', sans-serif;
  font-size:medium;
}
.nav-item{
  white-space:nowrap;
}

/*MAIN*/

.carousel {
  max-height: 90vh;
  width: auto;    
  
}
.carousel-item img {
  max-height: 90vh;
 object-fit: contain;
}

.actu{
  display: flex;
  justify-content: center;
  background-color: brown;
  border-top-style:ridge;
  border-bottom-style:ridge;
}

h1{
 
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: beige;
  margin: 20px;
  text-decoration: underline;
}
.presentation{
  display: flex;
  text-align: center;
  height: auto;
  width: 80vh;
  font-family: 'Quicksand', sans-serif;
  color: beige;
  margin: 50px 20px 50px 20px;
}

/*MEDIA QUERIES*/

@media (min-width:768px) {
  .office{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    background: lightcoral;
  }
  .personnel{
    display: flex;
    justify-content: center;
  }
  .office img{
    margin: 10px;
    max-height: 300px;
    border-radius: 10px;
  }
  
  .office h4{
    color: beige;
    font-size: 10px;
    text-align: center;
  }
  .office h3{
    color:lightblue;
    font-size: 20px;
    text-align: center;
  }
  .road{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .event_1{
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: auto; 
    margin: 10px;
  }
  .event_1 img {
    max-height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
  .event_1 h4{
    color: beige;
    font-size: 10px;
    text-align: center;
  }
  .event_1 h3{
    color:lightblue;
    font-size: 20px;
    text-align: center;
  }

}

@media (min-width:100px) and (max-width:767px){

  .office{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background: lightcoral;
  }

  .office img{
    margin: 10px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .office h4{
    color: beige;
    font-size: 10px;
    text-align: center;
  }
  .office h3{
    color:lightblue;
    font-size: 20px;
    text-align: center;
  }
  .road{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 80vw;
    max-width: auto;
    margin: 10px;
  }
  .event_1{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    max-height: auto;
    max-width: 500px;
    margin: 10px;
    border-style:ridge;
  }
  .event_1 img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: auto;
  }
  .event_1 h4{
    color: beige;
    font-size: 10px;
    text-align: center;
  }
  .event_1 h3{
    color:lightblue;
    font-size: 20px;
    text-align: center;
  }
}

.road_2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 80vw;
  max-width: auto;
  margin: 10px;
}
.event_2{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  max-height: auto;
  max-width: 100%;
  margin: 10px;
  border-style:ridge;
}
.event_2 img {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: auto;
  margin: 10px;
}
.event_2 h3{
  color:lightblue;
  font-size: 20px;
  text-align: center;
}
.road iframe{
  border: 2px black solid;
  border-radius: 10px;
}
.map{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
}
.map img{
  display: flex;
  width: auto;
  height: 50px;
}
h4{
  color: black;
  text-decoration: underline;
}

/*HOVER*/

.event_1:hover{
  transform: translate(0%, -4% );
  transition: 2s ease;
}

