*{
  margin: 0;
  padding: 0;
}
body{
  background-image:url(images/Dark\ Smoke\ Overlays\ -\ 2.jpg);
  }


.navbar-brand{
  font-family: 'Quicksand', sans-serif;
  font-size: small;
}

.carousel {
  max-height: 90vh;
  width: auto;    
  
}
.carousel-inner {
 
}
.carousel-item {
  
}
.carousel-item img {
  max-height: 90vh;
 object-fit: contain;
}



